body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}


.navigation {
    background-color: #222831;
    border-bottom: 2px solid #ff6600;
    padding: 0 0 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: left;
}

.navigation a {
    color: #dcdcdc;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.navigation a:hover {
    border-bottom: 2px solid #ff6600;
}


/*
.navigation {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navigation a {
    color: #00ff00;
    margin: 0 15px;
    text-decoration: none;
}
*/
.header {
    text-align: center;
    margin-top: 70px;
}

.header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 1.5em;
}

.terminal {
    background-color: #000;
    color: #00ff00;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    border: 2px solid #00ff00; /* Added border */
}

.terminal h3 {
    border-bottom: 1px solid #00ff00;
    padding-bottom: 10px;
}

.terminal p, .terminal ul {
    color: #00ff00;
}

.terminal ul {
    list-style-type: none;
    padding: 0;
}

.terminal ul li {
    margin: 5px 0;
}

.portfolio {
    background-color: #000; /* Added background color */
    color: #00ff00; /* Added text color */
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    border: 2px solid #00ff00; /* Added border */
}

.footer {
    background-color: #222831;
    border-top: 2px solid #ff6600;
    padding: 0 0 10px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: left;
}

.footer a {
    color: #dcdcdc;
    text-decoration: none;
    padding: 10px 20px;
    border-top: 2px solid transparent;
    transition: border-bottom 0.3s;
}


.footer a:hover {
    border-bottom: 2px solid #ff6600;
}
